<div class="container">
  <div class="py-5 text-center">
    <h2>Employee Edit Form</h2>
    <p class="lead">Simple app to update Employee name from parent component taking edit input from child component</p>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2 mb-6">
      <app-employee-edit (getNameandIndex)="getEditData($event)"></app-employee-edit>
    </div>
    <div class="col-md-6 order-md-2 mb-6">
      <app-employee-details></app-employee-details>
    </div>
    <div class="col-md-12 order-md-2 mb-12">
      <div class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Employee Name" [(ngModel)]="nameIndex.name">
          <div class="input-group-append">
            <button type="button" class="btn btn-secondary" [disabled]="nameIndex.index ===-1" (click)="updateName()">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017-2018 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>