/* You can add global styles to this file, and also import other style files */
.list-height{
    max-height: calc(100vh - 60vh);
    overflow: auto;
}
.pt-5, .py-5{
    padding-top: 1rem!important;
}